@import "tailwindcss";

@font-face {
  font-family: "KyivType Sans";
  src: url("/fonts/KyivTypeSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* titles color */
  --color-white: #f5f5f5;
  /* === NEUTRALS === */
  --color-obsidian: #1e0c06;
  --color-charcoal: #222021;
  --color-slate-dark: #32353c;
  --color-slate: #5b6069;
  --color-slate-mid: #848891;
  --color-silver: #b0b4bd;
  --color-ash: #d2c8c6;
  --color-linen: #f1ded0;

  /* === WOOD / TERRACOTTA === */
  --color-wood-deep: #664033;
  --color-wood-bark: #6c200b;
  --color-wood-brown: #8e3921;
  --color-wood-ember: #e1764d;
  --color-wood-sand: #e59679;
  --color-wood-blush: #fb9e6e;
  --color-wood-peach: #ffc099;
  --color-wood-mist: #ffdbbb;

  /* === BLUE / STEEL === */
  --color-steel-dark: #5f7489;
  --color-steel: #728bad;
  --color-steel-light: #a3b8d7;
  --color-steel-pale: #d5dcee;

  /* === MAUVE / TAUPE === */
  --color-taupe-dark: #7a574b;
  --color-taupe: #9f8578;
  --color-taupe-light: #c8b2a7;

  /* === TYPOGRAPHY === */
  --font-kyiv: "KyivType Sans", serif;
  --font-inter: "Inter", sans-serif;

  --text-giant: 260px;
  --text-title: 90px;
  --text-body: 30px;
}

:root {
  --background: var(--color-charcoal);
  --foreground: var(--color-linen);
}
html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  font-size: var(--text-body);
 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-kyiv);
  font-weight: 500;
  font-size: var(--text-title);
}
